# Imports

In [1]:
import pandas as pd

# Dataset

Loading all the 4 datasets

In [8]:
ben_train = pd.read_csv("..\\Dataset\\train\\Beneficiary_train.csv")
fraud_train = pd.read_csv("..\\Dataset\\train\\Fraud_train.csv")
inpatient_train = pd.read_csv("..\\Dataset\\train\\Inpatient_train.csv")
outpatient_train = pd.read_csv("..\\Dataset\\train\\Outpatient_train.csv")

# Problem Solution

Schemas of each dataframe

In [12]:
print(f"Beneficiary_train Columns : {ben_train.columns} ")
print(f"Fraud_train Columns : {fraud_train.columns} ")
print(f"Inpatient_train Columns : {inpatient_train.columns} ")
print(f"Outpatient_train Columns : {outpatient_train.columns} ")

Beneficiary_train Columns : Index(['BeneID', 'DOB', 'DOD', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt'],
      dtype='object')
Fraud_train Columns : Index(['Provider', 'PotentialFraud'], dtype='object')
Inpatient_train Columns : Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6'],
      dtype='object')
Outpatient_train Columns : Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5',
       'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4',
       'ClmProcedureCode_5', 'ClmProcedureCode_6', 'DeductibleAmtPaid',
       'ClmAdmitDiagnosisCode'],
      dtype='object')

In [13]:
inpatient_train.info()
outpatient_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40474 entries, 0 to 40473
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   BeneID                  40474 non-null  object
 1   ClaimID                 40474 non-null  object
 2   ClaimStartDt            40474 non-null  object
 3   ClaimEndDt              40474 non-null  object
 4   Provider                40474 non-null  object
 5   InscClaimAmtReimbursed  40474 non-null  int64
 6   AttendingPhysician      40362 non-null  object
 7   OperatingPhysician      23830 non-null  object
 8   OtherPhysician          4690 non-null   object
 9   AdmissionDt             40474 non-null  object
 10  ClmAdmitDiagnosisCode   40474 non-null  object
 11  DeductibleAmtPaid       39575 non-null  float64
 12  DischargeDt             40474 non-null  object
 13  DiagnosisGroupCode      40474 non-null  object
 14  ClmDiagnosisCode_1      40474 non-null  object
 15  ClmDiagnosisCode_2      40248 non-null  object
 16  ClmDiagnosisCode_3      39798 non-null  object
 17  ClmDiagnosisCode_4      38940 non-null  object
 18  ClmDiagnosisCode_5      37580 non-null  object
 19  ClmDiagnosisCode_6      35636 non-null  object
 20  ClmDiagnosisCode_7      33216 non-null  object
 21  ClmDiagnosisCode_8      30532 non-null  object
 22  ClmDiagnosisCode_9      26977 non-null  object
 23  ClmDiagnosisCode_10     3927 non-null   object
 24  ClmProcedureCode_1      23148 non-null  float64
 25  ClmProcedureCode_2      5454 non-null   float64
 26  ClmProcedureCode_3      965 non-null    float64
 27  ClmProcedureCode_4      116 non-null    float64
 28  ClmProcedureCode_5      9 non-null      float64
 29  ClmProcedureCode_6      0 non-null      float64
dtypes: float64(7), int64(1), object(22)
memory usage: 9.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517737 entries, 0 to 517736
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BeneID                  517737 non-null  object
 1   ClaimID                 517737 non-null  object
 2   ClaimStartDt            517737 non-null  object
 3   ClaimEndDt              517737 non-null  object
 4   Provider                517737 non-null  object
 5   InscClaimAmtReimbursed  517737 non-null  int64
 6   AttendingPhysician      516341 non-null  object
 7   OperatingPhysician      90617 non-null   object
 8   OtherPhysician          195046 non-null  object
 9   ClmDiagnosisCode_1      507284 non-null  object
 10  ClmDiagnosisCode_2      322357 non-null  object
 11  ClmDiagnosisCode_3      203257 non-null  object
 12  ClmDiagnosisCode_4      125596 non-null  object
 13  ClmDiagnosisCode_5      74344 non-null   object
 14  ClmDiagnosisCode_6      48756 non-null   object
 15  ClmDiagnosisCode_7      32961 non-null   object
 16  ClmDiagnosisCode_8      22912 non-null   object
 17  ClmDiagnosisCode_9      14838 non-null   object
 18  ClmDiagnosisCode_10     1083 non-null    object
 19  ClmProcedureCode_1      162 non-null     float64
 20  ClmProcedureCode_2      36 non-null      float64
 21  ClmProcedureCode_3      4 non-null       float64
 22  ClmProcedureCode_4      2 non-null       float64
 23  ClmProcedureCode_5      0 non-null       float64
 24  ClmProcedureCode_6      0 non-null       float64
 25  DeductibleAmtPaid       517737 non-null  int64
 26  ClmAdmitDiagnosisCode   105425 non-null  object
dtypes: float64(6), int64(2), object(19)
memory usage: 106.7+ MB

## Solution - 1

In [15]:
in_merge_fraud = pd.merge(inpatient_train, fraud_train, on="Provider", how="left")
out_merge_fraud = pd.merge(outpatient_train, fraud_train, on="Provider", how="left")

In [37]:
in_merge_fraud.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6', 'PotentialFraud'],
      dtype='object')

In [38]:
out_merge_fraud.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5',
       'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4',
       'ClmProcedureCode_5', 'ClmProcedureCode_6', 'DeductibleAmtPaid',
       'ClmAdmitDiagnosisCode', 'PotentialFraud'],
      dtype='object')

In [39]:
# Inpatient and Outpatient fraudulent cases  
in_fraud = in_merge_fraud[in_merge_fraud["PotentialFraud"] == "Yes"][["BeneID", "ClaimID", "Provider","AttendingPhysician","InscClaimAmtReimbursed"]]
out_fraud = out_merge_fraud[out_merge_fraud["PotentialFraud"] == "Yes"][["BeneID", "ClaimID", "Provider","AttendingPhysician","InscClaimAmtReimbursed"]]

In [40]:
in_fraud.head()

       BeneID   ClaimID  Provider AttendingPhysician  InscClaimAmtReimbursed
0   BENE11001  CLM46614  PRV55912          PHY390922                   26000
5   BENE11017  CLM70950  PRV54986          PHY402711                    8000
7   BENE11028  CLM62376  PRV51148          PHY346286                    6000
9   BENE11034  CLM31519  PRV55215          PHY355604                   29000
10  BENE11034  CLM57949  PRV55193          PHY397979                  102000

In [41]:
out_fraud.head()

      BeneID    ClaimID  Provider AttendingPhysician  InscClaimAmtReimbursed
0  BENE11002  CLM624349  PRV56011          PHY326117                      30
3  BENE11004  CLM121801  PRV56011          PHY334319                      40
4  BENE11004  CLM150998  PRV56011          PHY403831                     200
5  BENE11004  CLM173224  PRV56011          PHY339887                      20
6  BENE11004  CLM224741  PRV56011          PHY345721                      40

In [42]:
#Merge the dataframes along the rows and reset the index
fraud = pd.concat([in_fraud, out_fraud], axis=0,ignore_index=True)
fraud.head()

      BeneID   ClaimID  Provider AttendingPhysician  InscClaimAmtReimbursed
0  BENE11001  CLM46614  PRV55912          PHY390922                   26000
1  BENE11017  CLM70950  PRV54986          PHY402711                    8000
2  BENE11028  CLM62376  PRV51148          PHY346286                    6000
3  BENE11034  CLM31519  PRV55215          PHY355604                   29000
4  BENE11034  CLM57949  PRV55193          PHY397979                  102000

In [43]:

top_by_count = (fraud.groupby('AttendingPhysician')
                .size()
                .reset_index(name='FraudulentClaimCount')
                .sort_values(by='FraudulentClaimCount', ascending=False) # Sort in descending order
                .head(20))
top_by_count

      AttendingPhysician  FraudulentClaimCount
3257           PHY330576                  2534
6576           PHY350277                  1628
16897          PHY412132                  1321
18829          PHY423534                  1223
499            PHY314027                  1200
2725           PHY327046                  1181
4502           PHY338032                  1158
4403           PHY337425                  1156
7727           PHY357120                  1156
5125           PHY341578                  1133
20339          PHY432650                  1093
6041           PHY347064                  1076
12108          PHY383481                  1005
17450          PHY415321                  1002
5609           PHY344389                  1000
20475          PHY433436                   924
10734          PHY375453                   880
12743          PHY387126                   762
7759           PHY357307                   737
1254           PHY318667                   711

In [45]:
top_by_count = fraud.groupby("AttendingPhysician").size().sort_values(ascending=False).head(20)
top_by_count

AttendingPhysician
PHY330576    2534
PHY350277    1628
PHY412132    1321
PHY423534    1223
PHY314027    1200
PHY327046    1181
PHY338032    1158
PHY337425    1156
PHY357120    1156
PHY341578    1133
PHY432650    1093
PHY347064    1076
PHY383481    1005
PHY415321    1002
PHY344389    1000
PHY433436     924
PHY375453     880
PHY387126     762
PHY357307     737
PHY318667     711
dtype: int64

In [46]:
top_by_amount = (fraud.groupby('AttendingPhysician')
                 .agg({'InscClaimAmtReimbursed': 'sum'})
                 .sort_values(by='InscClaimAmtReimbursed', ascending=False)
                 .head(20))
top_by_amount

                    InscClaimAmtReimbursed
AttendingPhysician
PHY422134                          4260100
PHY341560                          2751100
PHY431177                          1973000
PHY411541                          1923600
PHY362864                          1854200
PHY429938                          1808500
PHY315112                          1796330
PHY314410                          1661000
PHY429828                          1609000
PHY329774                          1600600
PHY396496                          1594300
PHY430367                          1577600
PHY400274                          1549580
PHY404394                          1494400
PHY412508                          1474000
PHY339670                          1446300
PHY350524                          1419900
PHY361948                          1410800
PHY338562                          1366400
PHY376882                          1308800

In [47]:
top_by_amount = fraud.groupby("AttendingPhysician")["InscClaimAmtReimbursed"].sum().sort_values(ascending=False).head(20)
top_by_amount

AttendingPhysician
PHY422134    4260100
PHY341560    2751100
PHY431177    1973000
PHY411541    1923600
PHY362864    1854200
PHY429938    1808500
PHY315112    1796330
PHY314410    1661000
PHY429828    1609000
PHY329774    1600600
PHY396496    1594300
PHY430367    1577600
PHY400274    1549580
PHY404394    1494400
PHY412508    1474000
PHY339670    1446300
PHY350524    1419900
PHY361948    1410800
PHY338562    1366400
PHY376882    1308800
Name: InscClaimAmtReimbursed, dtype: int64

## Solution 2

In [53]:
statewise_ben = ben_train[['BeneID', 'State']].groupby('State').size().reset_index(name='BeneficiaryCount').sort_values(by='BeneficiaryCount', ascending=False)
statewise_ben

    State  BeneficiaryCount
4       5             12052
9      10              9771
43     45              8780
32     33              8443
38     39              6055
13     14              5923
35     36              5366
22     23              5293
33     34              4629
30     31              4124
10     11              3892
46     49              3623
42     44              3390
21     22              3306
14     15              3272
25     26              3108
47     50              2793
49     52              2662
0       1              2615
20     21              2570
40     42              2524
17     18              2519
2       3              2395
23     24              2165
18     19              1998
36     37              1926
3       4              1817
5       6              1807
15     16              1746
24     25              1622
6       7              1602
37     38              1468
16     17              1339
51     54              1237
48     51              1212
19     20               931
27     28               905
31     32               895
44     46               851
28     29               752
29     30               732
12     13               687
26     27               538
11     12               484
41     43               465
39     41               438
7       8               415
45     47               410
34     35               304
50     53               295
8       9               214
1       2               196

In [55]:
total_beneficiaries = statewise_ben['BeneficiaryCount'].sum()
statewise_ben['Percentage'] = (statewise_ben['BeneficiaryCount'] / total_beneficiaries) * 100
statewise_ben

    State  BeneficiaryCount  Percentage
4       5             12052    8.698288
9      10              9771    7.052022
43     45              8780    6.336788
32     33              8443    6.093565
38     39              6055    4.370074
13     14              5923    4.274806
35     36              5366    3.872802
22     23              5293    3.820116
33     34              4629    3.340887
30     31              4124    2.976414
10     11              3892    2.808973
46     49              3623    2.614827
42     44              3390    2.446664
21     22              3306    2.386039
14     15              3272    2.361500
25     26              3108    2.243136
47     50              2793    2.015791
49     52              2662    1.921245
0       1              2615    1.887324
20     21              2570    1.854846
40     42              2524    1.821646
17     18              2519    1.818037
2       3              2395    1.728543
23     24              2165    1.562545
18     19              1998    1.442016
36     37              1926    1.390052
3       4              1817    1.311383
5       6              1807    1.304166
15     16              1746    1.260140
24     25              1622    1.170646
6       7              1602    1.156211
37     38              1468    1.059499
16     17              1339    0.966396
51     54              1237    0.892780
48     51              1212    0.874737
19     20               931    0.671930
27     28               905    0.653166
31     32               895    0.645948
44     46               851    0.614192
28     29               752    0.542741
29     30               732    0.528306
12     13               687    0.495828
26     27               538    0.388291
11     12               484    0.349317
41     43               465    0.335604
39     41               438    0.316118
7       8               415    0.299518
45     47               410    0.295909
34     35               304    0.219406
50     53               295    0.212910
8       9               214    0.154450
1       2               196    0.141459

## Solution 3

In [56]:
chronic_kidney_disease = ben_train[ben_train['ChronicCond_KidneyDisease'] == 1]
chronic_kidney_disease.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
10,BENE11011,1914-03-01,NaN,2,2,0,1,360,12,12,...,1,1,2,2,1,1,5000,1068,250,320
11,BENE11012,1934-05-01,NaN,1,1,0,14,982,12,12,...,1,1,1,1,1,2,0,0,2890,1740
13,BENE11014,1938-04-01,NaN,2,1,Y,45,780,12,12,...,1,2,1,2,2,2,21260,2136,120,100
15,BENE11016,1919-09-01,NaN,2,2,0,34,400,12,12,...,2,1,1,1,2,1,0,0,2320,1480

In [63]:
total_ip_annual_amount =  chronic_kidney_disease['IPAnnualReimbursementAmt'].sum()
total_op_annual_amount =  chronic_kidney_disease['OPAnnualReimbursementAmt'].sum()
print(f"Total Inpatient Annual Reimbursement Amount for Chronic Kidney Disease Beneficiaries: ${total_ip_annual_amount:,.2f}")
print(f"Total Outpatient Annual Reimbursement Amount for Chronic Kidney Disease Beneficiaries: ${total_op_annual_amount:,.2f}")

Total Inpatient Annual Reimbursement Amount for Chronic Kidney Disease Beneficiaries: $324,625,740.00
Total Outpatient Annual Reimbursement Amount for Chronic Kidney Disease Beneficiaries: $89,224,100.00